.subscriptions-section {
  margin-top: 20px;
  h2 {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid black;
    width: 80%;
  }
  h3 {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    width: 80%;
  }

  @media only screen and (max-width: 480px) {
    h2 {
      display: none;
    }
    .card-section {
      border-top: 1px solid black;
      padding-top: 15px;
    }
    h3 {
      border-top: 1px solid black;
    }
  }
}
