/* You can add global styles to this file, and also import other style files */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: #7763c5;
  color: white;
  margin: 0 auto;
}

.mat-typography p {
  margin: 0 !important;
}

.mat-form-field-infix {
  border-top: 0 !important;
}

.mat-form-field {
  width: 250px !important;
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.5em !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #7763c5;
}

.form--boder-input-black {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 0, 0, 0.12);
  }
}

h2 {
  font-size: 24px !important;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  gap: 20px;
  position: relative;
  &__back {
    position: absolute;
    top: 0;
    left: 30px;
    cursor: pointer;
  }
  &__logo {
    display: none;
    @media only screen and (max-width: 480px) {
      & {
        display: block;
        width: 50%;
        min-width: 250px;
        max-width: 600px;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-items: center;
  }
  &__submit-btn {
    margin-top: 5px !important;
  }
  &__logout {
    color: #a40f0f;
    cursor: pointer;
    font-weight: bold;
  }
}

p.error {
  text-align: center;
  margin-top: 10px !important;
  display: block;
  color: red;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 45px;
  @media only screen and (max-width: 1200px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 800px) {
    & {
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (max-width: 480px) {
    & {
      gap: 15px;
      margin: 15px;
    }
  }
}
.card {
  background-color: #f5f5f5;
  border-radius: 8px;
  &__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  &__content {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }
  &__actions {
    display: flex !important;
    align-self: center;
    justify-content: center;
    margin-bottom: 0px !important;
  }
}
