<mat-toolbar class="header" *ngIf="showHeader">
  <img src="/assets/logo_p6.png" alt="logo" class="header__logo" />
  <div *ngIf="isLogged$ | async" class="header__links">
    <a routerLink="posts" routerLinkActive="link-active">Articles</a>
    <a routerLink="subjects" outerLinkActive="link-active">Thèmes</a>
    <img routerLink="me" src="/assets/profile.svg" alt="profile" />
  </div>
  <button mat-icon-button class="header__menu">
    <mat-icon (click)="showSideMenu = !showSideMenu">menu</mat-icon>
  </button>
</mat-toolbar>
<div
  class="side-menu"
  *ngIf="showSideMenu"
  (click)="showSideMenu = !showSideMenu"
>
  <div class="side-menu__bar">
    <ul>
      <li>
        <a routerLink="posts" routerLinkActive="link-active">Articles</a>
      </li>
      <li>
        <a routerLink="subjects" routerLinkActive="link-active">Thèmes</a>
      </li>
    </ul>
    <img routerLink="me" src="/assets/profile.svg" alt="profile" />
  </div>
</div>
